

.wrapper {
    display: none;
}

.active {
    display: block;
    z-index: 1;

    background-color: white;
    border: 1px solid lightgrey;
    
    margin: 0;

    li {
        list-style: none;
    }

    h3 {
        margin: 15px 0;
    }
}

.group {
    display: flex;
    align-items: center;
    border: 1px solid lightgrey;
}

.group:hover {
    background-color: lightgreen;
    border: 1px solid grey;
    cursor: pointer;
}



 /* smaller desktops, laptops, landscape tablets 992px - 1200px*/
 @media only screen and (max-width: 1200px) {}

/* portrait tablets, landscape phones 768px - 992px */
 @media only screen and (max-width: 992px) {}

/*landscape phones 600px - 768px */
 @media only screen and (max-width: 768px) {

    // .wrapper {
    //     display: block;
    // }
 }

/* larger portrait phones, 500px - 600px */
 @media only screen and (max-width: 600px) {}

 /* portrait phones, 500px and down */
 @media only screen and (max-width: 500px) {}

