
.wrapper {
    display: flex;
    margin-right: 50px;
    flex-direction: column;
}

.mobile_closed {
    display: none;
}

.filtermodal {
    display: none;
}

.filtermodal_active {
    display: block;
    min-width: 100px;
    height: 600px;
    background-color: white;


}

.filter_group {

    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    border-bottom: 1px solid lightgrey;


}

.group_item {
    padding-bottom: 8px
}


.size_container {
    display: flex;
    flex-direction: column;
}

.expandbtn {
    display: none;
}

.filterbtn {
    padding: 5px 10px;
    border: none;
    outline: none;
    margin-bottom: 5px;
}

.filterbtn_active {
    background-color: rgb(153, 153, 153);
    padding: 5px 10px;

    border: none;
    outline: none;
    margin-bottom: 5px;
}


.wrapper_mobile {
    display: none;
    z-index: 2;
    border: 1px solid grey;
    background-color: white;
    padding: 0 8px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
}

.closeicon {
    display: none;
    position: relative;
    left: 135px;
    top: 5px;
}

.expandbtn {
    display: none;
    min-width: 24px;
    margin: 0 5px;
}

.expandbtn_modalopen {
    display: none;
}

/* smaller desktops, laptops, landscape tablets 992px - 1200px*/
@media only screen and (max-width: 1200px) {}

/* portrait tablets, landscape phones 768px - 992px */
@media only screen and (max-width: 992px) {}

/*landscape phones 600px - 768px */
@media only screen and (max-width: 768px) {}

/* larger portrait phones, 500px - 600px */
@media only screen and (max-width: 600px) {

    .expandbtn {
        display: block;
    }

   

    .wrapper {
        display: none;
    }

    .wrapper_mobile {
        display: block;
    }

    

    .closeicon {
        display: block;
    }
}

/* portrait phones, 500px and down */
@media only screen and (max-width: 500px) {


}