* {
    // background-color: rgba($color: lightblue, $alpha: 0.2)
}


.wrapper {
    display: flex;
    margin-right: 50px;
    flex-direction: column;
}

.filter_group {

    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    // margin-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

.group_item {
    padding-bottom: 8px
}


.size_container {
    display: flex;
    flex-direction: column;
}

.filterbtn {
    padding: 5px 10px;
    border: none;
    outline: none;
    margin-bottom: 5px;
}

.filterbtn_active {
    background-color: rgb(153, 153, 153);
    padding: 5px 10px;

    border: none;
    outline: none;
    margin-bottom: 5px;
}