
* {
    // background-color: rgba($color: #c2f1ea, $alpha: 0.1)
}

.wrapper {
// margin: 0 0 2rem;
border-bottom: 1px solid lightgrey;

}

.logosmall {
    display: none;
}

.dropdown {
    display: none


}

.dropdown_open {
    display: flex;
    flex-direction: column;
    z-index: 1;
    
    position: relative;
    top: 100px
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0 20px auto;
    padding: 0.5rem 0 0.5rem;
    // border: 1px solid red;
    

    .navcenter {
        display: flex;
        justify-content: space-between;
        width: 300px;

        li {
            // font-size: 24px;
        }
    }
}

.link {
    text-decoration: none;
}

.item{
    display: flex;
    align-items: center;
    color: black;
    // border: 1px solid red;
}

.selected {
    background-color: lightgrey;
}

.navright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 175px;
    // border: 1px solid red;
}

.icon {
margin-right: 0.5rem;
}

.loggedin {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;

    border: 1px solid red;
}

.logoutbtn {
    height: 40px;
    width: 100px;
    font-weight: 800;
    color: white;
    background-color: green;
    border: none;
    border-radius: 25px;
}

.logoutbtn:hover {
    cursor: pointer;
}

.hamburgermenu {
    display: none;
}

 /* smaller desktops, laptops, landscape tablets 992px - 1200px*/
 @media only screen and (max-width: 1200px) {}

/* portrait tablets, landscape phones 768px - 992px */
 @media only screen and (max-width: 992px) {

    .logo {
        display: none;
    }

    .logosmall {
        display: block;
    }
 }

/*landscape phones 600px - 768px */
 @media only screen and (max-width: 768px) {

    .navcenter {
        justify-content: space-around;
    }

    .navright {
        display: none;
    }

    .hamburgermenu {
        display: block;
    }
 }

/* larger portrait phones, 500px - 600px */
 @media only screen and (max-width: 600px) {}

 /* portrait phones, 500px and down */
 @media only screen and (max-width: 500px) {}


