.container {
width: 100vw;
border: 1px solid lightgrey;

}

.hero {


    background-color: white;
    height: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .slogan {
        font-size: 4.5rem;
        width: 600px;
    }

}

.hero_content {

    * {
        // border: 1px solid red;        
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;

    img {
        object-fit: cover;
        height: 550px;
    }

}

.slider {
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    padding-top: 30px;
    height: 1000px;

}

.category_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 625px;

    h2 {
        margin: 25px 0;
    }
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;

}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    padding: 10px;
    margin-right: 50px;

    h2 {
        letter-spacing: 2px;
    }

    img {
        object-fit: contain;
        width: 250px;
        height: 350px;
    }
}

.category:hover {
    border: 1px solid rgb(156, 156, 156);
}

.name_wrapper {
    width: 100%;
    background-color: white;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: center;
}