.container {
width: 100vw;
border: 1px solid lightgrey;

}

.hero {
    // border: 1px solid lightgrey;
    background-color: white;
    height: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 4rem;
    }

}

.hero_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;

    border: 1px solid red;
}

.slider {
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    height: 1000px;

}

.category_wrapper {
    // border: 1px solid red;
    height: 300px;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;

    // border: 1px solid red;
}

.category {
    border: solid 1px lightgrey;
    padding: 5px 10px;
    margin-right: 25px;
}