


.container {

    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    heighT: 80vh;
    width: 300px;

    
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

}

.closed {
    display: none;
}

.modal {

    border: 1px solid black;
    background: #FFFF;
    width: 80vw;
    height: 200px;
    max-width: 400px;
    border-radius: 5px;
    padding: 2rem 1rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        outline: none;
        color: white;

        border-radius: 5px;
        font-weight: 600;
        font-size: 1rem;
        letter-spacing: 1px;
        background-color: green;
        padding: 5px 10px;
    }
}