.wrapper {
margin-top: 20px;
margin-bottom: 20px;
}

.page_list {
padding: 10px;
}

.pagebtn {
margin-right: 6px;
padding: 8px 12px;
border-radius: none;
border: 1px solid lightgrey;
background-color: white;
}

.pagebtn_active {
margin-right: 6px;
padding: 8px 12px;
border-radius: none;
background-color: green;
color: white;
 }