.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60vw;
    // margin: 0 auto;
    
}

.grid_item {
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid lightgrey;
}

.colors {
    display: flex;
}

.box {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    margin-right: 5px;
}

.filter_btn {
border: 1px solid black;
border-radius: 5px;
padding: 10px;

}

.filter_btn:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.filters {
    display: none;
}

.active_filters {
    display: block
}

.filter_group {

    display: flex;
    flex-direction: column;

    .button {
        margin-bottom: 5px;
    }
}