
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider_container {
    width: 75%;
    display: flex;
    margin: 30px auto;
    justify-content: space-evenly;
    align-items: center;
    img {
        height: 175px;
        width: 175px;
    }

    button {
        height: 50px;
        width: 50px;
    }
}

.slider_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 300px;

    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgrey;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


    h3, h4 {
        margin: 0;
    }

    h3 {
        letter-spacing: 1px;
    }

    h4 {
        font-weight: 400;
    }

}

.slider_item:hover {
    border: 1px solid grey;
}

.info {
    // border: 1px solid red;
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 8px;
}

.icon {
    color: grey;
    height: 40px;
    width: 40px;


}

.icon:hover {
    cursor: pointer;
    color: rgb(82, 82, 82)
}